* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
        
body {
    background:#eee;
    font-family: 'Montserrat', sans-serif;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

h1{
    font-size: 38px;
    font-weight: lighter;
}

@-ms-viewport{
    width: device-width;
}


/* HEADEER */

header{
    background: url(../slike/header_bg.jpg); no-repeat center fixed;
    background-size: cover;
    background-position: center;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center
}

.header-title{
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
        
.title{
    text-align: center;
}
        
.title h1{
    font-size:80px;
    color:#fff;
}
        
.title p{
    font-size:30px;
    color:#ddd;
}


/* NAVIGACIJA */

.navbar-toggler-icon {
    border: none;
}

.navbar-toggler{
    border: none;
    background-color: transparent;
}

.navbar {
    background-color: transparent;
    opacity: 0.9
    text-align: center;
}

.nav-item {
    color: #696969;
    text-decoration: none;
}

.nav-link {
    color: #696969;
    text-decoration: none;
}

a:hover {
    color: #696969;
}

/* MAIN */

.container_citat {
    margin-top:30px;
}


.container_cards {
    margin-top: 50px;
    margin-bottom: 70px;
    display:flex;
    justify-content: center;
    align-items: center;
}

/*  GALERIJA */

.row-g {
  display: flex;
  flex-wrap: wrap;
  margin:10px;
  padding: 20px;
}

/* četiri jednake kolone koje stoje jedna pored druge */

.column-g {
  flex: 25%;
  max-width: 33.3%;
  padding: 0 4px;
}

.column-g img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


@media screen and (max-width: 800px) {
  .column-g {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column-g {
    flex: 100%;
    max-width: 100%;
  }


/* ABOUT */

.container {
    margin: 50px 25px 30px 25px;
    padding: 20px;
    display:flex;
    align-items: center;
}


/* footer */

footer {
    display: block;
    background: #ebe8e6;
    width: 100%;
}

.footer {
    width: 100%;
    justify-content: center;
    padding: 50px 160px;
    text-align: center;
    font-size: 16px;
    font-stretch: expanded;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  text-decoration: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: none;
  color: #fffbf7;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.a_icon {
    color: #fffbf7;
    text-decoration: none;

}







